<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memory</title>
    <link href="/bootstrap" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container mt-5">
        <a href="http://127.0.0.1:3000/">> home</a>
        <ul class="list-group">
            <% memory.forEach(calculation => { %>
                <li class="list-group-item">
                    <%=  `${calculation.number1} ${calculation.action} ${calculation.number2} = ${calculation.resultCalcualtor}` %>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>